.text_animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}
.text_animate_hover {
    min-width: 10px;
    animation-duration: 1s;
    animation-delay: 1s;
    display: inline-block;
    animation-fill-mode: both;
    animation: bounceIn 1s;

    &:hover {
        animation: rubberBand 1s;
        color: #ffd700;
    }
}
@for $i from 1 through 35 {
    .text_animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}
