.contact_form {
    width: 100%;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 12px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
        font-weight: 100;
        letter-spacing: 1.2px;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        letter-spacing: 1px;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
    }

    .flat_button {
        color: #ffd700;
        font-size: 11px;
        font-weight: 600;
        font-family: sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid #ffd700;
        float: left;
        border-radius: 4px;
        float: right;
        background: none;
        animation: fadeIn 1s 1.3s backwards;

        &:hover {
            background: #ffd700;
            color: #333;
            font-weight: 600;
        }
    }
}
.info_map {
    position: absolute;
    background: #000;
    top: 50px;
    right: 20%;
    z-index: 999999;
    width: 240px;
    padding: 20px;
    color: #fff;
    font-family: "Helvetica";
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}
.map_wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 53%;
    height: 120%;
    margin-top: -6%;
}

.leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .page {
        .contact_page {
            .text_zone {
                left: 20%;
                width: 60%;

                h1 {
                    left: 18px;
                }
            }

            .map_wrap {
                display: none;
            }

            .info_map {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) and (min-width: 475px) {
    .page {
        .contact_page {
            .text_zone {
                left: 10%;
                width: 80%;

                h1 {
                    left: 18px;
                }
            }

            .map_wrap {
                display: none;
            }

            .info_map {
                display: none;
            }
        }
    }
}
@media (max-width: 475px) and (min-width: 375px) {
    .page {
        .contact_page {
            .text_zone {
                left: 10%;
                width: 80%;

                h1 {
                    left: 18px;
                }
            }
            .map_wrap {
                display: none;
            }
            .info_map {
                display: none;
            }
        }
    }
}
@media (max-width: 375px) and (min-width: 300px) {
    .page {
        .contact_page {
            .text_zone {
                left: 10%;
                width: 80%;
                h1 {
                    font-size: 48px;
                    left: 18px;
                }
            }
            .map_wrap {
                display: none;
            }
            .info_map {
                display: none;
            }
        }
    }
}
